<h1> Please sign up </h1>
<form action="/users" method="post">
    <label for="email">Email </label>
    <br>
    <input type="email" name="email"/>
    <br>
    <label for="name">Name </label>
    <br>
    <input type="text" name="name"/>
    <br>
    <label for="height">Height </label>
    <br>
    <input type="text" name="height"/>
    <br>
    <label for="weight">Weight </label>
    <br>
    <input type="number" name="weight"/>
    <br>
    <label for="age">Age </label>
    <br>
    <input type="number" name="age"/>
    <br>
    <label for="male">Male </label>
    
    <input type="radio" name="sex" value="male"/>
    
    <label for="female">Female </label>
    
    <input type="radio" name="sex" value="female"/>
    <br>
    <label for="password">Password </label>
    <br>
    <input type="password" name="password"/>
    <br>
    <label for="password_confirmation">Confirm password </label>
    <br>
    <input type="password" name="password_confirmation"/>
    <br>
    <input type="submit" value="create account">
</form>