<h1> Enter a meal </h1>
<form action="/meals" method="post">
    <label for="name">Name </label>
    <br>
    <input type="text" name="name"/>
    <br>
    <label for="measurement_unit">measurement_unit </label>
    <br>
    <input type="text" name="measurement_unit"/>
    <br>
    <label for="weight">Weight </label>
    <br>
    <input type="number" name="weight"/>
    <br>
    <label for="calories">Calories </label>
    <br>
    <input type="number" name="calories"/>
    <br>
    <input type="submit" value="add meal">

</form>